
/* ............
    Font style 
    ................ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common style  */

body{
    font-family: 'Poppins', sans-serif;
}
.container-1{
    padding-left: 20px;
}
.header-part{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.header-left p{
    text-align: justify;
}
.header-left h1{
    padding: 0px;
    margin: 0px;
}
.header-left button{
    width: 150px;
    height: 40px;
    background: #E02C6D;
    border-radius: 41px;
}
.header-left .common-button{
    color: #FFFFFF;
    font-size: 16px;
}

.header-right img{
    width: 440px;
    height: 414px;
}

/* hover  */

.header-part img{
    height: auto;
    width: 100%;
    display: block;
    cursor: pointer;
}
.header-part .header-right figure img{
    transform: scale(1);
	transition: 0.2s ease-in-out;
}
.header-part .header-right figure:hover img {
	transform: scale(1.5);
}

/* popular collection style */
.container-2{
    padding-left: 20px;
    /* grid-column-gap: 100px; */
    /* box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); */
    border-radius: 5px;
}
.header-title{
    text-align: center;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 2px solid #ec8b8b; */
    /* grid-column-gap: 10px; */
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15); */
    line-height: 80%;
}



.product .product-image img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.product{
    width: 329px;
    height: 476px;
    padding: 30px;
    margin: 20px 20px;
    border-radius: 10px;
    /* border: 2px solid rgb(53, 43, 43); */
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:  #FFC014;
}
.fa-star.empty{
    color:  #AEAEAE;
}

.see-more a{
    text-decoration: none;
    width: 99px;
    height: 24px;
    color: rgba(224, 44, 109, 0.87);
    /* padding-left: 80%; */
    display: block;
    margin-left: auto;
   
}

/* Extra part style  */

.feature-products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.feature-image img{
    border-radius: 7px;
}
.feature-text{
    text-align: justify;
} 
.feature-text button{
    width: 130px;
    height: 44px;
   background-color:#E02C6D; 
}
footer{
    /* padding-bottom: 0px; */
    margin-top: 20px;
    background-color: rgb(12, 12, 34);
}
.footer-section{
    color: white;
    text-align: center;
    padding: 3px;
}
.footer-section i{
    color: white;
    width: 30px;
    height: 20px;
}

/* media query */
@media only screen and (min-width: 0px)and (max-width: 576px){
    .container-1, .container-2{
        width: 100%;
        padding-right: 20px;
        align-items: center;
    }
    .header-part, .products, .feature-products {
    
        grid-template-columns: repeat(1, 1fr);
    }
    .header-left, .header-right{
        flex-direction: column;
    }

}

/* for tablet */
@media only screen and (min-width: 577px)and (max-width: 768px){
    .container-1, .container-2{
        width: 100%;
        padding-right: 20px;
        margin-right: 20px;
        align-items: center;
    }
    .header-part {
    
        grid-template-columns: repeat(1, 1fr);
    }
    .products, .feature-products{
    
        grid-template-columns: repeat(2, 1fr);
    }
    .header-left, .header-right{
        flex-direction: column;
    }

}

/* pc/desktop device */
@media only screen and (min-width: 769px)and (max-width: 992px){
    .container-1, .container-2{
        width: 100%;
        /* padding-right: 20px; */
        align-items: center;
    }
    .header-part, .products, .feature-products {
    
        grid-template-columns: repeat(3, 1fr);
    }
    .header-left, .header-right{
        flex-direction: column;
    }

}

